@using System.Web.UI.WebControls
@using HelperMethods.Helpers
@model HelperMethods.Models.Person
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    <table id="container">
        <tr>
            <td class="label">@Html.LabelFor(m => m.Name):</td>
            <td>@Html.EditorFor(m => m.Name)</td>
        </tr>
        <tr>
            <td class="label">@Html.LabelFor(m => m.Gender):</td>
            <td>@Html.RadioButtonListFor(m => m.Gender, "Gender")</td>
        </tr>
        <tr>
            <td class="label">@Html.LabelFor(m => m.MaritalStatus):</td>
            <td>@Html.RadioButtonListFor(m => m.MaritalStatus, "MaritalStatus")</td>
        </tr>
        <tr>
            <td class="label">@Html.LabelFor(m => m.Country):</td>
            <td>@Html.CheckBoxListFor(m => m.Country, "Country", RepeatDirection.Vertical)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save" /></td>
        </tr>
    </table>
}